<app-alert
[type]="alertType"
[message]="alertMessage"
[alertClass]="alertClass"
></app-alert>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h6>Client List</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table table-striped  text-center">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Person Name</th>
                                    <th>Company Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientList; track $index) {
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.contactPersonName}}</td>
                                    <td>{{item.companyName}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>{{item.city}}</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary"
                                            (click)="onEdit(item)">edit</button>
                                        <button type="button" class="btn btn-outline-danger ms-1"
                                            (click)="onDelete(item.clientId)">delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h6>New Client</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Person name</label>
                        <input type="text" #personName="ngModel" required minlength="5"
                            [(ngModel)]="clientObj.contactPersonName" class="form-control">
                        @if(personName.touched){
                        @if (personName?.errors?.['required']) {
                        <div class="text-danger">Person name is required</div>
                        }
                        @if(personName?.errors?.['minlength']){
                        <div class="text-danger">min 5 chars are required</div>
                        }
                        }
                    </div>
                    <div class="col-6">
                        <label for="">Company Name</label>
                        <input type="text" [(ngModel)]="clientObj.companyName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact No</label>
                        <input type="text" [(ngModel)]="clientObj.contactNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">City</label>
                        <input type="text" [(ngModel)]="clientObj.city" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">State</label>
                        <input type="text" [(ngModel)]="clientObj.state" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Pincode</label>
                        <input type="text" [(ngModel)]="clientObj.pincode" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Address</label>
                        <textarea [(ngModel)]="clientObj.address" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Employee Strength</label>
                        <input type="text" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">GstNo</label>
                        <input type="text" [(ngModel)]="clientObj.gstNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">RegNo</label>
                        <input type="text" [(ngModel)]="clientObj.regNo" class="form-control">
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button type="button" class="btn btn-secondary" (click)="onReset()">RESET</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn btn-primary" (click)="onSaveClient()">
                                {{ clientObj.clientId == 0 ? 'SAVE' : 'UPDATE' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>