<app-alert></app-alert>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                Project List
            </div>
            <div class="card-body">
                <form action=""></form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>ProjectName</th>
                            <th>StartDate</th>
                            <th>Lead By</th>
                            <th>Delivery Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of clientProjectList(); track $index) {
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{item.projectName}}</td>
                                <td>{{item.startDate | date:'dd-MMM-yyyy'}}</td>
                                <td>{{item.empName}}</td>
                                <td>{{item.expectedEndDate | date:'dd-MMM-yyyy'}}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" (click)="onEditProject(item)">edit</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                New Project
            </div>
            <div class="card-body">
                <form action="" [formGroup]="projectForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" formControlName="projectName" class="form-control">
                            @if (projectForm.controls['projectName'].touched){
                            <div class="text-danger">
                                @if (projectForm.controls['projectName'].errors?.['required']){
                                    <span>This is required</span>
                                }
                                @if (projectForm.controls['projectName'].errors?.['minlength']){
                                    <span>Minimum 4 char are required</span>
                                }
                            </div>
                        }
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" formControlName="startDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Expected EndDate</label>
                            <input type="date" formControlName="expectedEndDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Lead By</label>
                            <select formControlName="leadByEmpId" class="form-control">
                                @for (emp of employeeList; track $index) {
                                    <option [value]="emp.empId">{{emp.empName + ' (' + emp.empCode + ')'}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Completed Date</label>
                            <input type="date" formControlName="completedDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Person</label>
                            <input type="text" formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact No</label>
                            <input type="number" formControlName="contactPersonContactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Email ID</label>
                            <input type="email" formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employees</label>
                            <input type="text" formControlName="totalEmpWorking" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Cost</label>
                            <input type="text" formControlName="projectCost" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Details</label>
                            <textarea formControlName="projectDetails" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Client ID</label>
                            <select formControlName="clientId" class="form-control">
                                @for (client of clientList; track $index) {
                                    <option [value]="client.clientId">{{client.companyName}}</option>
                                }
                            </select>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 text-center">
                                <button type="button" class="btn btn-secondary" (click)="onReset()">RESET</button>
                            </div>
                            <div class="col-6 text-center">
                                <button type="button" class="btn btn-primary" [disabled]="projectForm.invalid" (click)="onSaveProject()">SAVE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>